Hourly Chargebee HubSpot Sync.json
{
  "name": "Hourly Chargebee to HubSpot Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "7ebd5fc1-bee3-40b8-8dee-7b593a95f6d4",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        520,
        360
      ]
    },
    {
      "parameters": {
        "outputFieldName": "today",
        "options": {
          "timezone": "America/Los_Angeles"
        }
      },
      "id": "dbb56d2f-fc09-4998-9d94-82b59b0111bc",
      "name": "Today",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        680,
        360
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.timeframe }}",
        "format": "X",
        "options": {}
      },
      "id": "d70be9cb-1430-429f-b60d-97c248955157",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1000,
        360
      ]
    },
    {
      "parameters": {
        "url": "https://zeniai.chargebee.com/api/v2/subscriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "sort_by[asc]",
              "value": "updated_at"
            },
            {
              "name": "updated_at[after]",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "offset",
                    "value": "={{ $response.body.next_offset }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.next_offset === $request.qs.offset }}",
              "requestInterval": 1000
            }
          }
        }
      },
      "id": "2a66c6de-31de-454b-adaa-b97d99277672",
      "name": "Get Subscriptions",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1180,
        360
      ],
      "alwaysOutputData": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "bQk6d57JMeg6nONB",
          "name": "Chargebee"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6b27d626-c6db-4136-bd7a-f857e02310d5",
              "leftValue": "={{ $json.list }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4ebb525b-4734-4d4f-a6fc-5e8ad87bdff2",
      "name": "Data Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        360
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "list",
        "options": {}
      },
      "id": "a5bb2e2c-30a1-441a-8432-0c9cfa15f3ac",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1580,
        180
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e8100947-6324-4810-9203-a6f30e4b2d07",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/2-14800898/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"limit\":1,\"after\":\"0\",\"sorts\":[\"desc\"],\"properties\":[\"subscription_id\"],\"filterGroups\":[{\"filters\":[{\"propertyName\":\"subscription_id\",\"value\":\"{{ $json.subscription.id }}\",\"operator\":\"EQ\"}]}]}",
        "options": {}
      },
      "id": "7dcbbc71-6d1f-41ff-a089-7dc171ceea3c",
      "name": "Get Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2360,
        260
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "NdgbeV1lhKBhg4W4",
          "name": "HubSpot Production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5bdc0b11-4240-4206-9392-b8c0a7e6baaf",
              "leftValue": "={{ $json.total }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d07e10c-1e7a-4081-87ba-f712ab7f9e47",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2540,
        260
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/2-14800898/{{ $json.results[0].properties.hs_object_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"properties\": {\n        \"subscription_id\": \"{{ $('Loop Over Items').item.json.subscription.id }}\",\n        \"plan_name\": \"{{ $('Loop Over Items').item.json.subscription.plan_id }}\",\n        \"plan_quantity\": \"{{ $('Loop Over Items').item.json.subscription.plan_quantity }}\",\n        \"plan_unit_price\": \"{{ $('Loop Over Items').item.json.subscription.plan_unit_price }}\",\n        \"billing_period\": \"{{ $('Loop Over Items').item.json.subscription.billing_period }}\",\n        \"billing_period_unit\": \"{{ $('Loop Over Items').item.json.subscription.billing_period_unit }}\",\n        \"plan_amount\": \"{{ $('Loop Over Items').item.json.subscription.plan_amount }}\",\n        \"mrr\": \"{{ $('Loop Over Items').item.json.subscription.mrr }}\",\n        \"status\": \"{{ $('Loop Over Items').item.json.subscription.status }}\",\n        \"current_term_start\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.current_term_start).toFormat('yyyy-MM-dd') }}\",\n        \"current_term_end\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.current_term_end).toFormat('yyyy-MM-dd') }}\",\n        \"created_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.created_at).toFormat('yyyy-MM-dd') }}\",\n        \"started_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.started_at).toFormat('yyyy-MM-dd') }}\",\n        \"updated_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.updated_at).toFormat('yyyy-MM-dd') }}\",\n        \"activated_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.activated_at).toFormat('yyyy-MM-dd') }}\",\n        \"cancelled_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.cancelled_at).toFormat('yyyy-MM-dd') }}\",\n        \"has_scheduled_changes\": \"{{ $('Loop Over Items').item.json.subscription.has_scheduled_changes }}\",\n        \"deleted\": \"{{ $('Loop Over Items').item.json.subscription.deleted }}\",\n        \"due_invoices_count\": \"{{ $('Loop Over Items').item.json.subscription.due_invoices_count }}\",\n        \"has_scheduled_advance_invoices\": \"{{ $('Loop Over Items').item.json.subscription.has_scheduled_advance_invoices }}\"\n    }\n}",
        "options": {}
      },
      "id": "f6288b84-6f06-45c2-b8b8-45741cf70217",
      "name": "Update Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2960,
        -20
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "NdgbeV1lhKBhg4W4",
          "name": "HubSpot Production"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/companies/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"limit\":1,\"after\":\"0\",\"sorts\":[\"desc\"],\"properties\":[\"hs_object_id\",\"chargebee_customer_id\"],\"filterGroups\":[{\"filters\":[{\"propertyName\":\"chargebee_customer_id\",\"value\":\"{{ $('Loop Over Items').item.json.customer.id }}\",\"operator\":\"EQ\"}]}]}",
        "options": {}
      },
      "id": "9ffd1d30-bfdb-4461-b342-7f625095e8aa",
      "name": "Get Company",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2940,
        380
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "NdgbeV1lhKBhg4W4",
          "name": "HubSpot Production"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/2-14800898",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "hubspotAppToken",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"associations\": [\n        {\n            \"types\": [\n                {\n                    \"associationCategory\": \"USER_DEFINED\",\n                    \"associationTypeId\": 169\n                }\n            ],\n            \"to\": {\n                \"id\": \"{{ $json[\"results\"][0][\"id\"] }}\"\n            }\n        }\n    ],\n    \"properties\": {\n        \"subscription_id\": \"{{ $('Loop Over Items').item.json.subscription.id }}\",\n        \"plan_name\": \"{{ $('Loop Over Items').item.json.subscription.plan_name }}\",\n        \"plan_quantity\": \"{{ $('Loop Over Items').item.json.subscription.plan_quantity }}\",\n        \"plan_unit_price\": \"{{ $('Loop Over Items').item.json.subscription.plan_unit_price }}\",\n        \"billing_period\": \"{{ $('Loop Over Items').item.json.subscription.billing_period }}\",\n        \"billing_period_unit\": \"{{ $('Loop Over Items').item.json.subscription.billing_period_unit }}\",\n        \"plan_amount\": \"{{ $('Loop Over Items').item.json.subscription.plan_amount }}\",\n        \"mrr\": \"{{ $('Loop Over Items').item.json.subscription.mrr }}\",\n        \"status\": \"{{ $('Loop Over Items').item.json.subscription.status }}\",\n        \"current_term_start\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.current_term_start).toFormat('yyyy-MM-dd') }}\",\n        \"current_term_end\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.current_term_end).toFormat('yyyy-MM-dd') }}\",\n        \"created_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.created_at).toFormat('yyyy-MM-dd') }}\",\n        \"started_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.started_at).toFormat('yyyy-MM-dd') }}\",\n        \"updated_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.updated_at).toFormat('yyyy-MM-dd') }}\",\n        \"activated_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.activated_at).toFormat('yyyy-MM-dd') }}\",\n        \"cancelled_at\": \"{{ DateTime.fromSeconds($('Loop Over Items').item.json.subscription.cancelled_at).toFormat('yyyy-MM-dd') }}\",\n        \"has_scheduled_changes\": \"{{ $('Loop Over Items').item.json.subscription.has_scheduled_changes }}\",\n        \"deleted\": \"{{ $('Loop Over Items').item.json.subscription.deleted }}\",\n        \"due_invoices_count\": \"{{ $('Loop Over Items').item.json.subscription.due_invoices_count }}\",\n        \"has_scheduled_advance_invoices\": \"{{ $('Loop Over Items').item.json.subscription.has_scheduled_advance_invoices }}\"\n    }\n}",
        "options": {}
      },
      "id": "fca0e0ab-35f1-4f93-b149-ca53ac7a0887",
      "name": "Create Subscription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3500,
        420
      ],
      "credentials": {
        "hubspotAppToken": {
          "id": "NdgbeV1lhKBhg4W4",
          "name": "HubSpot Production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "1c345917-d4f8-4e08-935a-b20076cfb646",
              "leftValue": "={{ $json.total }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97998e0b-c5b2-4351-81c8-b961d40d20ad",
      "name": "If Company Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3100,
        380
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "5d73a7ca-d26b-42eb-b437-e1b40cce4edc",
      "name": "Wait 1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2180,
        260
      ],
      "webhookId": "a816b75a-d221-4609-8f36-5f3a46cefa8e"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "4448d325-b4ad-4f9f-a0ff-d53f939c8378",
      "name": "Wait 2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2800,
        -20
      ],
      "webhookId": "33e96372-4475-4dd8-8320-d79b721e26f9"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "d154e837-2873-4551-9dbc-aed15c683628",
      "name": "Wait 3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2780,
        380
      ],
      "webhookId": "e22e40d2-2c55-4a82-8f59-0bda1368a464"
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "1bfe99fa-201b-499d-a14a-6d5ac766926b",
      "name": "Wait 4",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3340,
        420
      ],
      "webhookId": "eb83acc0-6bc2-4c06-ba46-51fae36d44f9"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.currentDate }}",
        "timeUnit": "hours",
        "duration": 1,
        "outputFieldName": "timeframe",
        "options": {
          "includeInputFields": true
        }
      },
      "id": "eb0deac6-a168-4649-bd6e-d220590180cb",
      "name": "Timeframe",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        840,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Today": {
      "main": [
        [
          {
            "node": "Timeframe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Get Subscriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscriptions": {
      "main": [
        [
          {
            "node": "Data Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Exists?": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Subscription": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Company": {
      "main": [
        [
          {
            "node": "If Company Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Subscription": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Subscription": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Company Found": {
      "main": [
        [
          {
            "node": "Wait 4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Get Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Update Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Get Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 4": {
      "main": [
        [
          {
            "node": "Create Subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeframe": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b90b8bac-f50c-4494-b41e-d8b557895dcc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f35844c20bd7f8456f907e3b5a901af1cf08cec7fee985138953357fd244e5bd"
  },
  "id": "VQppcBrP8TlN2sAE",
  "tags": []
}